img {
  height: 80px;
  width: 70px;
}

h1 {
  color: rgb(242, 197, 204);
  text-align: left;
  text-align: center;
  border-bottom: 1px solid rgb(225, 167, 231)

}

.badge:hover {
  background: yellow;
}

.user_box {
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgb(237, 230, 255);
  width: 60%;
  margin: 3% 10% 3% 10%;
  align-self: center;

}
