.headingTitle {
  font-size: 20px;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.gravatar {
  height: 80px;
  width: 80px;
  border-radius: 100%;

  float: right;

  margin: 0% 0% 0% 0%;

}

.title {
  height: 80px;
  color: rgb(0, 28, 75);
  border-bottom: 1px solid rgb(1, 11, 64);
  vertical-align: middle;
  margin: 0% 0% 0% 0%;

}

.badge_img {
  height: 80px;
  width: 70px;
}

.badge:hover {
  background: yellow;
}

.user_box {
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgb(237, 230, 255);
  width: 40%;
  margin: 3% 0% 3% 10%;
  float: left;
  display: inline-block;
  padding-left: 15px;
  padding-bottom: 15px;

}


/*div {
  padding-left: 15px;
  padding-bottom: 15px;
}*/

.recommend_box {
  border-top: 2px solid black
  background-color: rgb(237, 230, 255);
  width: 100%%;
  margin: 0% 0% 0% 0%;
}
